@inject IConfiguration _configuration
@{
    string _lang = ViewBag.Lang ?? "az";
}
@model ProductVM
@section seo{
    @{await Html.RenderPartialAsync("_Seo", "Product");}
}
@section Styles{
   
}

<section>
    <div class="mahsullar-general-main">
        <div class="container">
            <div class="col-12 col-md-11 col-lg-11 col-xl-11 mx-auto mahsullar-main">
                <span class="partner-heading">
                    @_configuration[$"Məhsullar:{_lang}"]
                </span>
                <div class="row col-12 col-md-12 col-lg-10 col-xl-8 col-xxl-5  gx-2 mx-auto mahsullar-search">
                    <div class="col-7 col-md-12 col-lg-9">
                        <div class="search-box">
                            <input id="filter"  type="text" class="form-control" placeholder="@_configuration[$"Axtarış:{_lang}"]">
                            <button onclick="filterProducts()" class="btn"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    <div class="col-5 col-md-3">
                        <div class="dropdown filter-search">
                            <button class="btn btn-filter" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-funnel-fill"></i>
                                <span>@_configuration[$"Filter:{_lang}"]</span>
                                <i class="bi bi-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                @foreach (var category in Model.ProductCategories.Where(x => x.Lang.Code == _lang))
                                {
                                    <li data-filter="@category.Name" class="dropdown-item">@category.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="productList" class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 gx-5 gy-5 mahsullar-card-main">
                    @{ await Html.RenderPartialAsync("_ProductList", Model.Products); }                 
                </div>
            </div>

        </div>
    </div>

</section>

@section Scripts{
   <script> 
       var skipCount = 10;
       function moreProduct()
       {
           var loadingimg = document.getElementById("loading");
           loadingimg.style.display = "block";
           $.ajax({
                url: 'moreproduct?skipCount=' + skipCount + '&category=Mayonez',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    var tetikle = setInterval(function () {
                        $('#productList').append(data);
                        clearInterval(tetikle);
                    }, 900); 
                    skipCount += 10;
                    loadingimg.style.display = "none"; 
                }
            });
       }       
       function filterProducts()
       {
           var filterText = document.getElementById("filter").value;
           var category = $('#categories').val();
           $('#productList').html('');
           $.ajax({
                url: 'productfiltered?filter=' + filterText,
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    var tetikle = setInterval(function () {
                        $('#productList').append(data);
                        clearInterval(tetikle);
                    }, 900);
                }
            });
       } 

       $(document).on('click','.dropdown-menu li',function  (e){
           e.preventDefault();
           let filter=$(this).attr('data-filter');
           $('#productList').html('');
           $.ajax({
                url: 'productfiltered?category=' + filter,
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    var tetikle = setInterval(function () {
                        $('#productList').append(data);
                        clearInterval(tetikle);
                    }, 900);
                }
            });
        }) 
   </script>
}