@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Harun Ozbilgi">
    <title>Saville - CMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
    <link href="~/assets/cms/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/assets/cms/css/nav-tab.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
    <style>
        .img img {
            width: 120px;
            height: 120px;
            border-radius: 5px;
            object-fit: cover;
        }

        fieldset {
            border: 1px solid #ddd !important;
            margin: 0;
            min-width: 0;
            padding: 10px;
            position: relative;
            border-radius: 4px;
            background-color: #f5f5f5;
            padding-left: 10px !important;
        }

        legend {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0px;
            width: 35%;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px 5px 5px 10px;
            background-color: #ffffff;
        }

        .wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .wrapper-img {
            width: 100px;
            height: 109px;
            border-radius: 5px;
            border: 1px solid #3b61d1;
            padding: 5px;
            margin: 20px 0px;
            text-align: center;
        }

            .wrapper-img img {
                width: 100%;
            }

            .wrapper-img span {
                display: block;
                font-size: 16px;
                color: red;
                cursor: pointer;
                margin-top: 5px;
            }

        .note-popover {
            display: none;
        }

        svg path {
            fill: #000000;
        }

        .modal-title {
            display: block !important
        }
    </style>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="CMS" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-cogs"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Saville.Com</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item @(controller == "home" ? "active" : "")">
                <a class="nav-link" asp-area="CMS" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Anasayfa</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Bölmeler
            </div>
            <li class="nav-item @(ViewBag.AllSections == true ? "active" : "")">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitiess" aria-expanded="true" aria-controls="collapseUtilitiess">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Bütün Bölmeler</span>
                </a>
                <div id="collapseUtilitiess" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header"></h6>
                        <a class="collapse-item" asp-area="CMS" asp-controller="Category" asp-action="Index" style='@(controller == "category" ? "background-color: #eaecf4" : "")'>Kateqoriya</a>
                        @* <a class="collapse-item" asp-area="CMS" asp-controller="Slider" asp-action="Index" style='@(controller == "slider" ? "background-color: #eaecf4" : "")'>Slayder</a> *@
                        <a class="collapse-item" asp-area="CMS" asp-controller="AboutSettings" asp-action="Index" style='@(controller == "aboutsettings" ? "background-color: #eaecf4" : "")'>Haqqımızda Səhifəsi</a>  
                        <a class="collapse-item" asp-area="CMS" asp-controller="Product" asp-action="Index" style='@(controller == "product" ? "background-color: #eaecf4" : "")'>Mehsullar</a>
                        <a class="collapse-item" asp-area="CMS" asp-controller="Pomegranate" asp-action="Index" style='@(controller == "pomegranate" ? "background-color: #eaecf4" : "")'>Narın Faydaları</a>
                        <a class="collapse-item" asp-area="CMS" asp-controller="Receipt" asp-action="Index" style='@(controller == "receipt" ? "background-color: #eaecf4" : "")'>Reseptler</a>
                        <a class="collapse-item" asp-area="CMS" asp-controller="Exportation" asp-action="Index" style='@(controller == "exportation" ? "background-color: #eaecf4" : "")'>İxracat Səhifəsi</a>
                        <a class="collapse-item" asp-area="CMS" asp-controller="Letter" asp-action="Index" style='@(controller == "letter" ? "background-color: #eaecf4" : "")'>Mektublar</a>  
                        <a class="collapse-item" asp-area="CMS" asp-controller="FAQ" asp-action="Index" style='@(controller == "faq" ? "background-color: #eaecf4" : "")'>Sual - Cavab</a>
                        <a class="collapse-item" asp-area="CMS" asp-controller="SiteSettings" asp-action="Index" style='@(controller == "sitesettings" ? "background-color: #eaecf4" : "")'>Sayt Parametrləri</a>         
                        <a class="collapse-item" asp-area="CMS" asp-controller="Seo" asp-action="Index" style='@(controller == "seo" ? "background-color: #eaecf4" : "")'>Seo Parametrləri</a>          
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider" />
            <!-- Heading -->
            <!-- Nav Item - Tables -->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle" src="https://source.unsplash.com/WLUHO9A_xik/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Hesaptan çık
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy;  @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hesaptan çıkmak istediğinize emin misiniz?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">"Onayla" butonuna basarak hesaptan çıkabilirsiniz.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" asp-area="CMS" asp-controller="Account" asp-action="Logout">Onayla</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>       
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>    
    <script src="~/assets/cms/js/ajax.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>    
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/assets/cms/js/sb-admin-2.min.js"></script>
    @RenderSection("validation", required: false)
    <script>
        
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
        var allEditors = document.querySelectorAll('.texteditor');
        for (var i = 0; i < allEditors.length; ++i) {
            ClassicEditor
                .create(allEditors[i])
                .then(editor => {

                })
                .catch(error => {
                    console.error(error);
                });
        }

        $('.dataTables').dataTable({
            language: {
                info: "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar aktiv.",
                infoEmpty:      "Gösterilecek hiç kayıt yok.",
                loadingRecords: "Kayıtlar yükleniyor.",
                zeroRecords: "Aramanızla uyuşan kayıt yok.",
                search: "Arama:",
                infoFiltered:   "(_MAX_ kayıt içerisinden bulunan)",
                lengthMenu: "Sayfada _MENU_ kayıt göster",
                buttons: {
                    copyTitle: "Panoya kopyalandı.",
                    copySuccess:"Panoya %d satır kopyalandı",
                    copy: "Kopyala",
                    print: "Yazdır",
                },

                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                },
                responsive: true
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

