@inject IConfiguration _configuration
@{
    string _lang = ViewBag.Lang ?? "az";
    SiteSettings settings = context.SiteSettings.FirstOrDefault();
}
@* @model SiteSettings *@
@section seo{
    @{await Html.RenderPartialAsync("_Seo", "About");}
}

<section>
    <div class="partner-heading-image">
        <img src="/assets/img/image-test/alaqa-image.jpg" alt="">
    </div>
</section>

<section>
    <div class="alaqa-main">
        <div class="container-sm">
            <div class="alaqa-form-main">
                <span class="partner-heading">
                    @_configuration[$"Əlaqə:{_lang}"]
                </span>
                <div class="form-main">
                    <div class="left">
                        <p class="left-heading">@_configuration[$"Əlaqə:{_lang}"].ToUpper()</p>
                        <p class="left-text"> @_configuration[$"ƏlaqəMetn:{_lang}"] </p>
                        <a href="tel:@settings.PhoneNumber" class="info">
                            <i class="bi bi-telephone-forward"></i>
                            @settings.PhoneNumber
                        </a>
                        <a href="mailto:@settings.Email" class="info">
                            <i class="bi bi-envelope"></i>
                            @settings.Email
                        </a>
                        <ul class="social-list">
                            <li class="social-item">
                                <a href="@settings.FacebookURL" target="_blank" class="social-links">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="@settings.InstagramURL" target="_blank" class="social-links">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="@settings.TwitterURL" target="_blank" class="social-links">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <p class="right-heading">@_configuration[$"BİZƏYAZIN:{_lang}"]</p>
                        <p class="right-text">@_configuration[$"BİZƏYAZINMetn:{_lang}"]</p>
                        <form id="contactus-form">
                            <div class="form-box">
                                <input type="text" required id="name" class="form-control" placeholder="@_configuration[$"AdSoyad:{_lang}"]">
                                <i class="bi bi-person-fill"></i>
                            </div>
                            <div class="form-box">
                                <input type="number"required id="phone" class="form-control" placeholder="@_configuration[$"Telefon:{_lang}"]">
                                <i class="bi bi-telephone-fill"></i>
                            </div>
                            <div class="form-box">
                                <input type="email" required id="email" class="form-control" placeholder="@_configuration[$"Email:{_lang}"]">
                                <i class="bi bi-envelope-fill"></i>
                            </div>
                            <div class="form-box">
                                <input type="text" required id="country" class="form-control" placeholder="@_configuration[$"Country:{_lang}"]">
                                <i class="bi bi-geo-alt-fill"></i>
                            </div>
                            <div class="form-box">
                                <input type="text" required id="city" class="form-control" placeholder="@_configuration[$"City:{_lang}"]">
                                <i class="bi bi-geo-fill"></i>
                            </div>
                            <div class="form-box">
                                <textarea required id="message" id="message" class="form-control areas"placeholder="@_configuration[$"Əlavəniz:{_lang}"]"></textarea>
                                <i class="bi bi-chat-dots-fill"></i>
                            </div>
                            <button type="submit" class="btn btn-send">@_configuration[$"Göndər:{_lang}"]</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <img class="alaqa-left-nar partner-images" src="/assets/img/left-right-image/alaqa-left-nar.webp" alt="">
        <img class="alaqa-right-nar partner-images" src="/assets/img/left-right-image/alaqa-right-nart.webp" alt="">
    </div>
</section>

@section validation{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
}