@inject IConfiguration _configuration
@{
    string _lang = ViewBag.Lang ?? "az";
}
@model ReceiptPageVM
@section seo{
    @{await Html.RenderPartialAsync("_Seo", "Receipt");}
}
@section Styles{
   
}

<section>
    <div class="partner-heading-image">
        <img src="/assets/img/image-test/alaqa-image.jpg" alt="">
    </div>
</section>

<section>
    <div class="maslahat-main">
        <div class="container">
            <span class="partner-heading">
                @_configuration[$"Faydalıməsləhətlər:{_lang}"]
            </span>
            <div class="col-12 col-lg-12 col-xl-9 col-xxl-8 mx-auto maslahat-search">
                <div class="search-main">
                    <div class="search-box">
                        <input type="text" id="filter" class="form-control" placeholder="@_configuration[$"Axtarış:{_lang}"]">
                        <i class="bi bi-search"></i>
                    </div>
                    <div class="dropdown filter-search">
                        <button class="btn btn-filter" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-funnel-fill"></i>
                            <span>@_configuration[$"Kateqoriya:{_lang}"]</span>
                            <i class="bi bi-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            @foreach (var category in Model.ReceiptCategories.Where(x => x.Lang.Code == _lang))
                            {
                                <li data-filter="@category.Name" class="dropdown-item">@category.Name</li>
                            }                            
                        </ul>
                    </div>
                    <button type="button" onclick="filterReceipts()" class="btn btn-aktarıs">@_configuration[$"Axtarış:{_lang}"]</button>
                </div>
            </div>
            <div class="maslahat-general-main">
                <div id="receiptList" class="row row-cols-1 row-cols-md-2 row-cols-lg-3  row-cols-xl-4 gy-5 gx-5 maslahatlar-card-main">
                    @{ await Html.RenderPartialAsync("_ReceiptList", Model.Receipts); }                                        
                </div>
                <div style="display: none;" id="loader" class="loader">
                    <div class="spinner-border text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
   <script>    
       var skipCount = 8;
       function moreReceipt()
       {
           $('#loader').show();
           $.ajax({
                url: 'morereceipt?skipCount=' + skipCount,
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    var tetikle = setInterval(function () {
                        $('#receiptList').append(data);
                        clearInterval(tetikle);
                    }, 900); 
                    skipCount += 8;
                    $('#loader').hide();
                }
            });
       }       

       function filterReceipts()
       {
           $('#loader').show();
           var filterText = document.getElementById("filter").value;
           $('#receiptList').html('');
           $('#loader').show();
           $.ajax({
                url: 'receiptfiltered?filter=' + filterText,
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    var tetikle = setInterval(function () {
                        $('#receiptList').append(data);
                        clearInterval(tetikle);
                    }, 900); 
                    $('#loader').hide();
                }
            });
       }

       $(document).on('click','.dropdown-menu li',function  (e){
           $('#loader').show();
           e.preventDefault();
           let filter=$(this).attr('data-filter');
           $('#receiptList').html('');
           $.ajax({
                url: 'receiptfiltered?category=' + filter,
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    var tetikle = setInterval(function () {
                        $('#receiptList').append(data);
                        clearInterval(tetikle);
                    }, 900);             
                    $('#loader').hide();
                }
            });
       })
       
   </script>
}