@model ASItemCreateVM

@{
    ViewData["Title"] = "Create";
    int count = 0;
}

<div class="row">
    <div class="col-12 my-4 mx-auto">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Parametr Əlavə et <a asp-area="CMS" asp-controller="AboutSettings" asp-action="Index" class="float-right btn btn-outline-secondary">Geriyə get</a>
            </div>
            <div class="card-body">
                <form asp-area="CMS" asp-controller="AboutSettings" asp-action="CreateItem" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Tərcümə olunacaq dillər
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist">
                                        @{
                                            int b = 0;
                                        }
                                        @foreach (var item in await lang.GetAllLangs())
                                        {
                                            <li style="width:32%" class="nav-item ml-2 bg-secondary ">
                                                <a class="nav-link @(b==0 ? "active" : "") text-white" id="pills-@item.Code-tab" data-toggle="pill" href="#pills-@item.Code" role="tab" aria-controls="pills-home" aria-selected="true">@item.Name</a>
                                            </li>
                                            b++;
                                        }
                                    </ul>
                                    <div class="row justify-content-center">
                                        <div class="col-md-6 col-6">
                                            <div class="tab-content" id="pills-tabContent ">
                                                @foreach (var item in await lang.GetAllLangs())
                                                {
                                                    <div class="col-md-12 col-12 tab-pane fade @(count == 0 ? "show active" : "")" id="pills-@item.Code" role="tabpanel">
                                                        <div class="form-group">
                                                            <input type="hidden" name="ItemLangs[@count].LangId" value="@item.Id" />

                                                            <label class="control-label">Başlıq (@item.Code.ToUpper())</label>
                                                            <input name="ItemLangs[@count].Title" type="text" class="form-control" />
                                                            <label class="control-label">Detay (@item.Code.ToUpper())</label>
                                                            <input name="ItemLangs[@count].Details" type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                    count++;
                                                } 
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                     
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addnae">Əsas şəkil</span>
                        </div>
                        <div class="custom-file">
                            <input asp-for="MainPhotoFile" type="file" class="custom-file-input" id="file" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                            <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                        </div>
                        <span asp-validation-for="MainPhotoFile"></span>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <input asp-for="IsActive" checked type="checkbox" style="width: 20px; height: 20px; margin-left: 20px; position: relative; top: 5px;" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Təsdiq et" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section validation{
    <partial name="_ValidationScriptsPW" />
}