@model AboutSettingsVM

@{
    ViewData["Title"] = "Update";
    int count = 0;
}

<div class="row">
    <div class="col-12 my-4 mx-auto">
        <div class="card shadow mb-4">
            <div class="card-header">
                Haqqımızda parametrləri bölümü 
            </div>
            <div class="card-body"> 
                <form asp-area="CMS" asp-controller="AboutSettings" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Tərcümə olunacaq dillər
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist">
                                        @{
                                            int b = 0;
                                        }
                                        @foreach (var item in await lang.GetAllLangs())
                                        {
                                            <li style="width:32%" class="nav-item ml-2 bg-secondary ">
                                                <a class="nav-link @(b==0 ? "active" : "") text-white" id="pills-@item.Code-tab" data-toggle="pill" href="#pills-@item.Code" role="tab" aria-controls="pills-home" aria-selected="true">@item.Name</a>
                                            </li>
                                            b++;
                                        }
                                    </ul>
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 col-12">
                                            <div class="tab-content" id="pills-tabContent ">
                                                @foreach (var item in Model.AboutSettingsLangs.ToList())
                                                {
                                                    <div class="col-md-12 col-12 tab-pane fade @(count == 0 ? "show active" : "")" id="pills-@item.Lang.Code" role="tabpanel">
                                                        <div class="form-group">
                                                            <input type="hidden" name="AboutSettingsLangs[@count].LangId" value="@item.LangId" />
                                                            <input type="hidden" name="AboutSettingsLangs[@count].AboutSettingsId" value="@item.AboutSettingsId" />
                                                            
                                                            <label class="control-label">Hikayemiz (@item.Lang.Code)</label>
                                                            <textarea name="AboutSettingsLangs[@count].OurStory" type="text" class="form-control texteditor" >@item.OurStory</textarea>
                                                            <label class="control-label">Misyonumuz (@item.Lang.Code)</label>
                                                            <textarea name="AboutSettingsLangs[@count].OurMission" type="text" class="form-control texteditor" >@item.OurMission</textarea>
                                                            <label class="control-label">Vizyonumuz (@item.Lang.Code)</label>
                                                            <textarea name="AboutSettingsLangs[@count].OurVision" type="text" class="form-control texteditor" >@item.OurVision</textarea>
                                                            <label class="control-label">Neden Saville? (@item.Lang.Code)</label>
                                                            <textarea name="AboutSettingsLangs[@count].WhySaville" type="text" class="form-control texteditor" >@item.WhySaville</textarea>
                                                        </div>
                                                    </div>
                                                    count++;
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Təsdiq et" class="btn btn-primary" />
                    </div>
                </form>   
                <div id="certificates">
                    <div class="row">
                        <div class="col-12 my-4 mx-auto">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                Sertifikatlar
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-end my-3">
                                    <a asp-area="CMS" asp-controller="AboutSettings" asp-action="CreateCertificate" class="btn btn-outline-dark"><i class="fas fa-fw fa-plus"></i>Sertifikat Əlavə Et</a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table dataTables table-bordered table-striped table-shorting" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th>Şəkil</th>
                                                <th>Status</th>
                                                <th>Əməliyyatlar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Certificates == null)
                                            {
                                                <tr>
                                                    <td colspan="8" class="text-center">
                                                        Heç bir qeyd əlavə edilməyib
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                @foreach (var certificate in Model.Certificates)
                                                {
                                                    <tr id="@certificate.Id" data-id="">
                                                        <td>
                                                            <img src="~/files/aboutsettings/@certificate.PhotoUrl" style="width: 50px;height: 50px;object-fit: cover;border-radius: 10px;filter: drop-shadow(20px);filter: drop-shadow(3px 3px 4px #000);display: block;margin-left: auto;margin-right: auto;" />
                                                        </td>
                                                        <td>
                                                            @(certificate.IsActive ? "aktiv" : "deaktiv")
                                                        </td>
                                                        <td >
                                                            <a asp-area="CMS" asp-controller="AboutSettings" asp-action="UpdateCertificate" asp-route-id="@certificate.Id" class="btn text-primary"><i class="fas fa-fw fa-pencil-alt"></i></a>
                                                            <a asp-area="CMS" asp-controller="AboutSettings" asp-action="DeleteCertificate" asp-route-id="@certificate.Id" class="btn text-danger"><i class="fas fa-fw fa-trash-alt"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="items">
                    <div class="row">
                    <div class="col-12 my-4 mx-auto">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                Parametrler
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-end my-3">
                                    <a asp-area="CMS" asp-controller="AboutSettings" asp-action="CreateItem" class="btn btn-outline-dark"><i class="fas fa-fw fa-plus"></i>Parametr Ekle</a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table dataTables table-bordered table-striped table-shorting" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th>Şəkil</th>
                                                <th>Başlıq</th>
                                                <th>Detay</th>
                                                <th>Status</th>
                                                <th>Əməliyyatlar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Certificates == null)
                                            {
                                                <tr>
                                                    <td colspan="8" class="text-center">
                                                        Heç bir qeyd əlavə edilməyib
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                @foreach (var item in Model.Items)
                                                {
                                                    <tr id="@item.Id" data-id="">
                                                        <td>
                                                            <img src="~/files/aboutsettings/@item.PhotoUrl" style="width: 50px;height: 50px;object-fit: cover;border-radius: 10px;filter: drop-shadow(20px);filter: drop-shadow(3px 3px 4px #000);display: block;margin-left: auto;margin-right: auto;" />
                                                        </td>
                                                        <td>
                                                            @item.AboutSettingsItemLangs.FirstOrDefault(x => x.Lang.Code == "az").Title
                                                        </td>
                                                        <td>
                                                            @(item.AboutSettingsItemLangs.FirstOrDefault(x => x.Lang.Code == "az").Details.Length > 60 ? item.AboutSettingsItemLangs.FirstOrDefault(x => x.Lang.Code == "az").Details.Substring(0, 30) : item.AboutSettingsItemLangs.FirstOrDefault(x => x.Lang.Code == "az").Details)
                                                        </td>     
                                                        <td>
                                                            @(item.IsActive ? "aktiv" : "deaktiv")
                                                        </td>
                                                        <td >
                                                            <a asp-area="CMS" asp-controller="AboutSettings" asp-action="UpdateItem" asp-route-id="@item.Id" class="btn text-primary"><i class="fas fa-fw fa-pencil-alt"></i></a>
                                                            <a asp-area="CMS" asp-controller="AboutSettings" asp-action="DeleteItem" asp-route-id="@item.Id" class="btn text-danger"><i class="fas fa-fw fa-trash-alt"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                             
            </div>
        </div>
    </div>
</div>
<script>
   
</script>
@section validation{
    <partial name="_ValidationScriptsPartial" />
}