@model ProductUpdateVM

@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-12 my-4 mx-auto">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Əlavə et 
                <a asp-area="CMS" asp-controller="Product" asp-action="Index" class="float-right btn btn-outline-secondary">Geriyə get</a>
            </div>
            <div class="card-body">
                <form asp-area="CMS" asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="kategoriSelect" class="form-group">
                                <label class="control-label">Kateqoriya</label>
                                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control"></select>
                                <span asp-validation-for="CategoryId"></span>
                                <span class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addnae">Əsas şəkil</span>
                                </div>
                                <div class="custom-file">
                                    <input asp-for="MainPhotoFile" type="file" class="custom-file-input" id="file" aria-describedby="addnae" accept=".png, .jpeg, .jpg">
                                    <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                </div>
                                <span asp-validation-for="MainPhotoFile"></span>
                                <span class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addnae">Nutrition Fact şəkil</span>
                                </div>
                                <div class="custom-file">
                                    <input asp-for="NutritionFactPhotoFile" type="file" class="custom-file-input" id="file" aria-describedby="addnae" accept=".png, .jpeg, .jpg">
                                    <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                </div>
                                <span asp-validation-for="NutritionFactPhotoFile"></span>
                                <span class="text-danger"></span>
                            </div>
                            <div id="digerSekiller">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addnae">Digər şəkillər</span>
                                    </div>
                                    <div class="custom-file">
                                        <input asp-for="PhotoFiles" type="file" multiple class="custom-file-input" id="file" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                                        <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                    </div>
                                    <span asp-validation-for="PhotoFiles"></span>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div id="kategoriSelect" class="form-group">
                                <label class="control-label">Kateqoriya</label>
                                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control"></select>
                                <span asp-validation-for="CategoryId"></span>
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <strong class="control-label">Əsas şəkil</strong>
                                <img src="~/files/product/@Model.PhotoUrl" style="width: 50px;height: 50px;object-fit: cover;border-radius: 10px;filter: drop-shadow(20px);filter: drop-shadow(3px 3px 4px #000);display: block;" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input asp-for="MainPhotoFile" type="file" class="custom-file-input" id="file" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                                    <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <strong class="control-label">Nutrition Fact şəkil</strong>
                                <img src="~/files/product/@Model.NutritionFactsPhotoUrl" style="width: 50px;height: 50px;object-fit: cover;border-radius: 10px;filter: drop-shadow(20px);filter: drop-shadow(3px 3px 4px #000);display: block;" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input asp-for="NutritionFactPhotoFile" type="file" class="custom-file-input" id="file" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                                    <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <input asp-for="IsActive" type="checkbox" style="width: 20px; height: 20px; margin-left: 20px; position: relative; top: 5px;" />
                            </div>
                        </div>
                    </div>               
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Tərcümə olunacaq dillər
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist">
                                        @{
                                            int b = 0;
                                        }
                                        @foreach (var item in await lang.GetAllLangs())
                                        {
                                            <li style="width:32%" class="nav-item ml-2 bg-secondary ">
                                                <a class="nav-link @(b==0 ? "active" : "") text-white" id="pills-@item.Code-tab" data-toggle="pill" href="#pills-@item.Code" role="tab" aria-controls="pills-home" aria-selected="true">@item.Name</a>
                                            </li>
                                            b++;
                                        }
                                    </ul>
                                    <div class="row justify-content-center">
                                        <div class="col-md-6 col-6">
                                            <div class="tab-content" id="pills-tabContent ">
                                                @{
                                                    int count = 0;
                                                }
                                                @foreach (var item in Model.ProductLangs.ToList())
                                                {
                                                    <div class="col-md-12 col-12 tab-pane fade @(count == 0 ? "show active" : "")" id="pills-@item.Lang.Code" role="tabpanel">
                                                        <div class="form-group">
                                                            <label class="control-label">Ad (@item.Lang.Code)</label>
                                                            <input name="ProductLangs[@count].Name" value="@item.Name" type="text" class="form-control" />
                                                            <input type="hidden" name="ProductLangs[@count].LangId" value="@item.LangId" />
                                                            <input type="hidden" name="ProductLangs[@count].ProductId" value="@item.ProductId" />
                                                        </div>
                                                    </div>
                                                    count++;
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Təsdiq et" class="btn btn-primary my-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section validation{
    <partial name="_ValidationScriptsPW" />
}

