@model ProductUpdateVM

@{
    ViewData["Title"] = "Update";
    int productCount = 0;
}

<div class="row">
    <div class="col-12 my-4 mx-auto">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Düzəliş et 
                <a asp-area="CMS" asp-controller="Product" asp-action="Index" class="float-right btn btn-outline-secondary">Geriyə get</a>
            </div>
            <div class="card-body">
                <form asp-area="CMS" asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Tərcümə olunacaq dillər
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist">
                                        @{
                                            int b = 0;
                                        }
                                        @foreach (var item in await lang.GetAllLangs())
                                        {
                                            <li style="width:32%" class="nav-item ml-2 bg-secondary ">
                                                <a class="nav-link @(b==0 ? "active" : "") text-white" id="pills-@item.Code-tab" data-toggle="pill" href="#pills-@item.Code" role="tab" aria-controls="pills-home" aria-selected="true">@item.Name</a>
                                            </li>
                                            b++;
                                        }
                                    </ul>
                                    <div class="row justify-content-center">
                                        <div class="col-md-6 col-6">
                                            <div class="tab-content" id="pills-tabContent ">
                                                @foreach (var item in Model.ProductLangs.ToList())
                                                {
                                                    <div class="col-md-12 col-12 tab-pane fade @(productCount == 0 ? "show active" : "")" id="pills-@item.Lang.Code" role="tabpanel">
                                                        <div class="form-group">
                                                            <input type="hidden" name="ProductLangs[@productCount].LangId" value="@item.LangId" />
                                                            <input type="hidden" name="ProductLangs[@productCount].ProductId" value="@item.ProductId" />

                                                            <label class="control-label">Ad (@item.Lang.Code)</label>
                                                            <input name="ProductLangs[@productCount].Name" value="@item.Name" type="text" class="form-control" />
                                                            <label class="control-label">Açıklama (@item.Lang.Code)</label>
                                                            <input name="ProductLangs[@productCount].Details" value="@item.Name" type="text" class="form-control" />
                                                        </div>
                                                        @foreach (var seo in Model.SeoLangs.Where(x => x.LangId == item.LangId))
                                                        {
                                                            <div class="form-group">                                                            
                                                                <input type="hidden" name="SeoLangs[@productCount].LangId" value="@seo.LangId" />
                                                                <input type="hidden" name="SeoLangs[@productCount].SeoId" value="@seo.SeoId" />

                                                                <label class="control-label">Seo Başlıq (@item.Lang.Code)</label>
                                                                <input name="SeoLangs[@productCount].Title" value="@seo.Title" type="text" class="form-control" />
                                                                <label class="control-label">Seo Keywords (@item.Lang.Code)</label>
                                                                <input name="SeoLangs[@productCount].Keys" value="@seo.Keys" type="text" class="form-control" />
                                                                <label class="control-label">Seo Description (@item.Lang.Code)</label>
                                                                <input name="SeoLangs[@productCount].Desc" value="@seo.Desc" type="text" class="form-control" />
                                                            </div>
                                                        }
                                                    </div>
                                                    productCount++;
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="kategoriSelect" class="form-group">
                                <label class="control-label">Kateqoriya</label>
                                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control"></select>
                                <span asp-validation-for="CategoryId"></span>
                                <span class="text-danger"></span>
                            </div>                            
                            <div class="form-group">
                                <strong class="control-label">Əsas şəkil</strong>
                                <img src="~/files/product/@Model.SlugUrl/@Model.PhotoUrl" style="width: 50px;height: 50px;object-fit: cover;border-radius: 10px;filter: drop-shadow(20px);filter: drop-shadow(3px 3px 4px #000);display: block;" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input asp-for="MainPhotoFile" type="file" class="custom-file-input" id="file" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                                    <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <strong class="control-label">Nutrition Fact şəkil</strong>
                                <img src="~/files/product/@Model.SlugUrl/@Model.NutritionFactsPhotoUrl" style="width: 50px;height: 50px;object-fit: cover;border-radius: 10px;filter: drop-shadow(20px);filter: drop-shadow(3px 3px 4px #000);display: block;" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input asp-for="NutritionFactPhotoFile" type="file" class="custom-file-input" id="file" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                                    <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                </div>
                            </div>
                            <br>
                            <div id="digerSekiller">
                                <div class="input-group mb-3">
                                    <div class="form-group">
                                        <strong class="control-label">Digər şəkillər</strong>
                                        <div class="d-flex">
                                            @foreach (var photoUrl in Model.PhotoUrls)
                                            {
                                                <img class="ml-3" src="~/files/product/@Model.SlugUrl/@photoUrl" style="width: 50px;height: 50px;object-fit: cover;border-radius: 10px;filter: drop-shadow(20px);filter: drop-shadow(3px 3px 4px #000);display: block;" />
                                            }
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="sekiller">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group mb-3">   
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="addnae">1. Şəkil</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input asp-for="PhotoFiles" type="file" multiple class="custom-file-input" id="file1" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                                                    <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-success sekil-add">Şəkil Əlavə Et</button>
                                </div>
                            </div> 
                            
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <input asp-for="IsActive" type="checkbox" style="width: 20px; height: 20px; margin-left: 20px; position: relative; top: 5px;" />
                            </div>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <input type="submit" value="Təsdiq et" class="btn btn-primary my-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section validation{
    <partial name="_ValidationScriptsPartial" />
}

@section Scripts{
    <script>
        var sekilCount = 1;
        $(document).on("click", ".sekil-add", function() {
            $(".sekiller > .row").append(`
                <div class="col-md-12">
                    <div class="input-group mb-3">   
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addnae">` + parseInt(sekilCount+1) + `. Şəkil</span>
                        </div>
                        <div class="custom-file">
                            <input name="PhotoFiles" type="file" multiple class="custom-file-input" id="file` + sekilCount + `" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                            <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                        </div>
                    </div>
                </div>
            `);
            sekilCount++;
        });
    </script>
}