@model ReceiptCreateVM

@{
    ViewData["Title"] = "Update";
    int count = 0;
}

<div class="row">
    <div class="col-12 my-4 mx-auto">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Receipt Əlavə et <a asp-area="CMS" asp-controller="Receipt" asp-action="Index" class="float-right btn btn-outline-secondary">Geriyə get</a>                        
            </div>
            <div class="card-body">
                <form asp-area="CMS" asp-controller="Receipt" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Tərcümə olunacaq dillər
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist">
                                        @{
                                            int b = 0;
                                        }
                                        @foreach (var item in await lang.GetAllLangs())
                                        {
                                            <li style="width:32%" class="nav-item ml-2 bg-secondary ">
                                                <a class="nav-link @(b==0 ? "active" : "") text-white" id="pills-@item.Code-tab" data-toggle="pill" href="#pills-@item.Code" role="tab" aria-controls="pills-home" aria-selected="true">@item.Name</a>
                                            </li>
                                            b++;
                                        }
                                    </ul>
                                    <div class="row justify-content-center">
                                        <div class="col-md-12 col-12">
                                            <div class="tab-content" id="pills-tabContent ">
                                                @foreach (var item in await lang.GetAllLangs())
                                                {
                                                    <div class="col-md-12 col-12 tab-pane fade @(count == 0 ? "show active" : "")" id="pills-@item.Code" role="tabpanel">
                                                        <div class="form-group">
                                                            <input type="hidden" name="ReceiptLangs[@count].LangId" value="@item.Id" />
                                                            <input type="hidden" name="SeoLangs[@count].LangId" value="@item.Id" />

                                                            <label class="control-label">Başlıq (@item.Code.ToUpper())</label>
                                                            <input name="ReceiptLangs[@count].Title" type="text" class="form-control" />
                                                            <label class="control-label">İçindekiler (@item.Code.ToUpper())</label>
                                                            <textarea name="ReceiptLangs[@count].Ingredients" type="text" class="form-control texteditor" ></textarea>
                                                            <label class="control-label">Hazırlanışı (@item.Code.ToUpper())</label>
                                                            <textarea name="ReceiptLangs[@count].Preparation" type="text" class="form-control texteditor" ></textarea>
                                                            <label class="control-label">Seo Başlıq (@item.Code.ToUpper())</label>
                                                            <input name="SeoLangs[@count].Title" type="text" class="form-control" />
                                                            <label class="control-label">Seo Keywords (@item.Code.ToUpper())</label>
                                                            <input name="SeoLangs[@count].Keys" type="text" class="form-control" />
                                                            <label class="control-label">Seo Description (@item.Code.ToUpper())</label>
                                                            <input name="SeoLangs[@count].Desc" type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                    count++;
                                                } 
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="kategoriSelect" class="form-group">
                                <label class="control-label">Kateqoriya</label>
                                <select onchange="displayVideoUrl()" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control"></select>
                                <span asp-validation-for="CategoryId"></span>
                                <span class="text-danger"></span>
                            </div>                    
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addnae">Əsas şəkil</span>
                                </div>
                                <div class="custom-file">
                                    <input asp-for="MainPhotoFile" type="file" class="custom-file-input" id="file" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                                    <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                </div>
                                <span asp-validation-for="MainPhotoFile"></span>
                                <span class="text-danger"></span>
                            </div>
                            <div id="digerSekiller">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addnae">Digər şəkillər</span>
                                    </div>
                                    <div class="custom-file">
                                        <input asp-for="PhotoFiles" type="file" multiple class="custom-file-input" id="file" aria-describedby="addnae" accept=".jpeg, .jpg, .png">
                                        <label class="custom-file-label" for="inputGroupFile01">Şəkil yüklə</label>
                                    </div>
                                    <span asp-validation-for="PhotoFiles"></span>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <input asp-for="IsActive" checked type="checkbox" style="width: 20px; height: 20px; margin-left: 20px; position: relative; top: 5px;" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 my-4 mx-auto">
                            <div class="card shadow mb-4">
                                <div class="card-header">
                                    Mehsullar
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table dataTables table-striped table-bordered dataTable" id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Şekil</th>
                                                    <th>Ad</th>
                                                    <th>Kateqoriya</th>
                                                    <th>Status</th>
                                                    <th style="width: 100px;">İşlemler</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Products == null || Model.Products.Count() == 0)
                                                {
                                                    <tr>
                                                        <td colspan="8" class="text-center">
                                                            Siyahı boşdur
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    @foreach (var product in Model.Products)
                                                    {
                                                        <tr id="@("productRow" + product.Id)"> 
                                                            <td>
                                                                <img src="~/files/product/@product.SlugUrl/@product.ProductPhotos.FirstOrDefault(x => x.IsCover == true).PhotoUrl" style="width: 50px;height: 50px;object-fit: cover;border-radius: 10px;filter: drop-shadow(20px);filter: drop-shadow(3px 3px 4px #000);display: block;margin-left: auto;margin-right: auto;" />
                                                            </td>
                                                            <td>
                                                                @(product.ProductLangs.FirstOrDefault(x => x.Lang.Code.ToLower() == "az").Name.Length > 30 ? product.ProductLangs.FirstOrDefault(x => x.Lang.Code.ToLower() == "az").Name.Substring(0, 30) : product.ProductLangs.FirstOrDefault(x => x.Lang.Code.ToLower() == "az").Name)
                                                            </td>
                                                            <td>
                                                                @product.Category.CategoryLangs.FirstOrDefault(x => x.Lang.Code == "az").Name
                                                            </td>
                                                            <td id="@("productStatus" + product.Id)">
                                                                Eklenmeyecek
                                                            </td>
                                                            <td style="text-align: center;">
                                                                <button onclick="toggleProduct(@product.Id)" type="button" class="btn btn-outline-success">
                                                                    <i class="fas fa-fw fa-exchange-alt"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="ProductValues" id="productValues" />
                    <div class="form-group">
                        <input type="submit" value="Təsdiq et" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var arr = [];
    function toggleProduct(id)
    {       
        if(arr.includes(id))
        {
            arr = arr.filter(function(ele){                     
                    return ele != id; 
                });
            $('#productStatus' + id).text("Eklenmeyecek");
        }
        else
        {
            arr.push(id);
            $('#productStatus' + id).text("Eklenecek");
        }

        $("#productValues").val(arr);
    }

</script>
@section validation{
    <partial name="_ValidationScriptsPW" />
}

