@inject IConfiguration _configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string _lang = ViewBag.Lang ?? "az";
}
@model IEnumerable<Receipt>

@if (Model != null)
{
    @foreach (var receipt in Model)
    {
        <div class="col">
            <a asp-controller="Receipt" asp-action="Item" asp-route-_lang="@_lang" asp-route-slugurl="@receipt.SlugUrl.ToLower()" asp-route-urlid="@receipt.UrlId" class="partner-card">
                <div class="partner-card-image">
                    <img src="~/files/receipt/@receipt.ReceiptPhotos.FirstOrDefault(x => x.IsMain == true).PhotoUrl" alt="">
                </div>
                <div class="card-text">
                    <p class="category-name">@receipt.Category.CategoryLangs.FirstOrDefault(x => x.Lang.Code == _lang).Name</p>
                    <div class="card-texting">@receipt.ReceiptLangs.FirstOrDefault(x => x.Lang.Code == _lang).Details
                    </div>
                    <span>@_configuration[$"Ətraflı:{_lang}"]</span>
                </div>
            </a>
        </div>
    }
}
